<script  type="text/javascript">
function fold(curTag,title){    
    var oldText = curTag.innerText;
    var div = document.getElementById(title);
    if(div.style.display=="inline"){
        div.style.display="none"
        var newText = "+"+oldText.substring(1,oldText.length);      
    }else{
        div.style.display="inline"
        var newText = "-"+oldText.substring(1,oldText.length);
    }
    curTag.innerText = newText; 
}
</script>
<!--highlight.js-->
<link rel="stylesheet" href="/static/highlight/styles/xcode.css">
<script src="/static/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<!-- css -->
<style type="text/css">
/*header和main平级*/
/*main*/
/*博文主体*/
/*侧边栏*/
/*推荐反对浮动*/
/*下面的是文章内容的样式*/
#cnblogs_post_body h2 {
    background: none repeat scroll 0 0 #5db4dc;
    clear: both;
    color: #000000;
    font-family: "Open Sans","Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 140%;
    margin: 10px 0;
    padding: 2px 10px;
}
#cnblogs_post_body h3 {
    background: #2fd1cb;
    color: #000000;
    font-size:130%;
    font-family: "Open Sans","Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding:1px 5px;
}

#cnblogs_post_body h2 span{
    font-family: 'Courier New';
}
#cnblogs_post_body h3 span{
    font-family: 'Courier New';
}
#cnblogs_post_body h4{
    background: #B1D7E0;
    color: #000000;
    font-family: "Open Sans","Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:120%;
    padding:0px 3px;
}
#cnblogs_post_body h4 span{
    font-family: 'Courier New';
}

/* h2 - h5 圆角*/
#cnblogs_post_body h2{
    line-height:1.8;
    border-radius:5px;
    margin: 0;
    background: #2FD193;
}
#cnblogs_post_body h3{
    line-height:1.7;
    border-radius:4.5px;
    margin: 0;
    background: #2fd1cb;

}
#cnblogs_post_body h4{
    line-height:1.5;
    border-radius:4.2px;
    margin: 0;
    background: #5db4dc;
}
#cnblogs_post_body h5{
    color: #000000;
    font-family: "Open Sans","Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:110%;
    padding:0px 2px;
}
#cnblogs_post_body h5 span{
    font-family: 'Courier New';
}
#cnblogs_post_body h5{
    line-height:1.3;
    border-radius:4.0px;
    margin: 0;
    background: #BFD6E4;
}
#cnblogs_post_body h6 {
    font-size: 100%;
    background-color: #e3ebef;
}

/**************************/
#cnblogs_post_body a:hover {
    color: #9CBA39;
}
#cnblogs_post_body a {
    color: #399AB2;
    padding: 1px 2px;
    text-decoration: none;
    border-bottom:0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#cnblogs_post_body {
    font-size:15px;
    line-height: 1.6;
}

#cnblogs_post_body p{
    margin:5px auto;
    font-size:15px;
}

#cnblogs_post_body #navCategory ul{
    line-height: 20px;
}

#navCategory ul{
    margin-left: 10px;
    list-style: none outside none;
    padding: 0px;
}
#navCategory ul li{
    margin-bottom:0;
}
#navCategory ul li ul{
    margin-left: 30px;
    list-style: none outside none;
    padding: 0px;
}
div#cnblogs_post_body ul{
    margin-bottom: 0px;
}
div#cnblogs_post_body ul li{
    margin-bottom: 0px;
}
.func{
    font-size: 15px;
    font-family: 'Microsoft Yahei', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4;
    color:#428bca;
}

#cnblogs_post_body p{
  text-indent:30px;
}
blockquote p {
    text-indent:0px !important;
}
#cnblogs_post_body pre {
    padding:2px;
}
/*以下是prettify代码样式*/
/*关键字*/
.kwd {
    color:#b833a1 !important;
}
/*注释*/
.com {
    color: green;
}
/*字符串*/
.str { 
    color: #a31515;
}
.lit {
    color:#00F;
}
/*以下是markdown代码样式*/
.markdown-body h1, h2, h3, h4 {
    font-family: "Open Sans","Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#cnblogs_post_body code {
    border:0px !important;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace !important;
}

#cnblogs_post_body pre {
    padding-bottom: 0px !important;
}

#cnblogs_post_body pre code {
    white-space: pre !important;
}

#cnblogs_post_body .hljs {
    padding:0px !important;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace !important;
    font-size: 13.5px!important;
    background:#f5f5f5;
}
#cnblogs_post_body .hljs p {
    white-space: pre !important;
}
/*使用Xcode主题之后，不需要这些样式*/
/*.hljs-meta {
    color:#774943 !important;
}
.hljs-meta-string {
    color:#cf313d !important;
}
.hljs-keyword {
    color:#b833a1 !important;
}
.hljs-built_in {
    color:#7d41a7 !important;
}
.hljs-number {
    color:#00F !important;
}*/

/* table -- copy from github */
#cnblogs_post_body table{
    border-color: grey;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 0;
    margin-bottom: 16px;
    display:block;
    width:100%;
    overflow:auto
}

#cnblogs_post_body thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

#cnblogs_post_body tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
#cnblogs_post_body table th{
    font-weight:600
}
#cnblogs_post_body table th,#cnblogs_post_body table td{
    padding:6px 13px;
    border:1px solid #dfe2e5
}
#cnblogs_post_body table tr{
    background-color:#fff;
    border-top:1px solid #c6cbd1
}
#cnblogs_post_body table tr:nth-child(2n){
    background-color:#f6f8fa
}
#cnblogs_post_body table img{
    background-color:transparent
}
#cnblogs_post_body table {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
}

</style>